body{
	background-image:url('BG.jpg');
}
h1{
	text-align: center;
	bottom: 80px;
}
h2{
	font-size: 30px;
}

p{
	font-size: 20px;
}
section{
	
	width:100%;
	height:120px;
	background-size:cover;		
}

.headtitle{
	background-color: #8a8a8a;
	color: black;
	width:100%;
	height:70px;
}
.parallax{
	background-image:url('images/seedimg.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}
.parallax1{
	background-image:url('images/PPR.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}
.parallax2{
	background-image:url('images/clay.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}
.parallax3{
	background-image:url('images/box.png');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}
.parallax4{
	background-image:url('images/Organic.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	width: 100%;
}

.seed{
	background-color:none;
	color: whitesmoke;
	opacity:0.5;
	height: auto;
	width: auto;
	position:relative ;
	bottom: 280px;
	font-size: 125px;

}
.ppr{
	background-color:none;
	color: black;
	opacity:0.5;
	height: auto;
	width: auto;
	position:relative ;
	bottom: 300px;
	font-size: 125px;
}
.clay{
	background-color:none;
	color: black;
	opacity:0.5;
	height: auto;
	width: auto;
	position:relative ;
	bottom: 300px;
	font-size: 125px;
}
.boxes{
	background-color:none;
	color: black;
	opacity:0.5;
	height: auto;
	width: auto;
	position:relative ;
	bottom: 300px;
	font-size: 125px;
}
.org{
	background-color:none;
	color: white;
	opacity:0.5;
	height: auto;
	width: auto;
	position:relative ;
	bottom: 300px;
	font-size: 125px;
}
 
.p1{ 

	background-color:none; 
	position: absolute;
	color: whitesmoke;
	border: 1px;
	top: 510px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 600px; 	 
	opacity: 0.5px;
}
img.img1{
	height: 130px;
	width: 130px;
	position: relative;
	bottom: 120px;
}
img.img2{
	height: 130px;
	width: 130px;
	position: relative;
	bottom: 120px;
	left: 20px;
}
.p2{
	background-color:none; 
	position: absolute;
	color: whitesmoke;
	top: 1150px;
}
.p3{
	background-color:none; 
	position: absolute;
	color:whitesmoke;
	top: 1750px;
}
.p4{
	background-color:none; 
	position: absolute;
	color: whitesmoke;
	top: 2310px;
}
.p5{
	background-color:none; 
	position: absolute;
	color: whitesmoke;
	top: 3210px;
}


