
h1{
	text-align: center;
	bottom: 80px;
}
h2{
	font-size: 30px;
}

p{
	font-size: 20px;
}
section{
	border:1px solid black;
	width:100%;
	height:90%;
	background-size:cover;		
}
.headtitle{
	background-color: black;
	color: white;
	width:100%;
	height:70px;
}
.seed{
	background-image:url('images/seedimg.jpg');
}
.ppe{
	background-image:url('images/PPE.jpg');
}
.clay{
	background-image:url('images/clay.jpg');
}
.boxes{
	background-image:url('images/box.jpg');
}
.title{
	width:500px;
	height:600px:
	border:1px solid black;
	background-color:#6ebeeb;
	opacity:0.5;
	margin-top:250px;
	margin-left:30px;
}
.p1{
	width:650px;
	height:600px:
	border:1px solid black;
	background-color:white;
	opacity:0.5;
	margin-top:50px ;
	margin-left:580px;
	position: absolute;
	top: 160;
}
.p2{
	width:650px;
	height:600px:
	border:1px solid black;
	background-color:#f7d9be;
	opacity:0.5;
	margin-top:50px ;
	margin-left:580px;
	position: absolute;
	top: 780;
}
.p3{
	width:650px;
	height:600px:
	border:1px solid black;
	background-color:#c2c1c0;
	opacity:0.5;
	margin-top:50px ;
	margin-left:580px;
	position: absolute;
	top: 1340;
}
.p4{
	width:650px;
	height:600px:
	border:1px solid black;
	background-color:#59ba61;
	opacity:0.5;
	margin-top:50px ;
	margin-left:580px;
	position: absolute;
	top: 1920;
}
